
/* --- FONTS --- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* font-family: 'Lato',
sans-serif; */

/* Regular */
/* font-weight:400; */

/* Bold */
/* font-weight:700; */

/* Black */
/* font-weight:900; */

/* --- COLOURS --- */

/* GRAY #828282e6 */

body {
    background-color: #fff;
}
body p{
        font-family: 'Lato', sans-serif;
}

#grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);

    grid-template-areas: "header header"
                        "image image"
                        "order order"
                        "how how"
                        "dishes dishes"
                        "circles circles"
                        "restaurant restaurant"
                        "banner banner"
                        "featured featured"
                        "landing landing"
                        "footer footer"
}

header {
    grid-area: header;

}
header .header-wrap {
    height: 150px;
    width: 100%;
    display: flex;
    gap: 22px;
    justify-content: center;
    align-items: center;


}
header .header-logo {
    width: 66%;
    padding-left:20px;
    line-height: 25px;
}
header .header-menu-chart {
    width: 33%;
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:20px;
}

header  .logo {
    height: 2rem;
}

header .menu {
    padding-right: 10px;
    width: 2.7rem;
    filter: invert(50%);
}
header .chart {
    width: 2.5rem;
    filter: invert(50%);
}
header p{
    color: #828282e6;
    font-weight: 400;
    font-size: 1.1em;
}
header a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.image {
    background-color: #b30202;
    grid-area: image;
}
.image img {
    height:100px;
}

.order {
    background-color: #4cb302;
    grid-area: order;
}
.how-it-works {
    background-color: #bfc521;
    grid-area: how;
}
.dishes {
    background-color: #4a79c5;
    grid-area: dishes;
}
.circles {
    background-color: #d26bce;
    grid-area: circles;
}
.restaurant-by-cuisine {
    background-color: #37808d;
    grid-area: restaurant;
}
.banner {
    background-color: #b30202;
    grid-area: banner;
}
.featured {
    background-color: #f0760a;
    grid-area: featured;
}
.landing-pages {
    background-color: #ded718;
    grid-area: landing;
}
footer {
    background-color: #10b035;
    grid-area: footer;
}

/* -- DESKTOP -- */
@media (min-width: 700px) {
    #grid-wrapper {
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: "header header"
            "image order"
            "how how"
            "dishes dishes"
            "circles circles"
            "restaurant restaurant"
            "banner banner"
            "featured featured"
            "landing landing"
            "footer footer"
        }
}