
/* --- FONTS --- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* font-family: 'Lato',
sans-serif; */

/* Regular */
/* font-weight:400; */

/* Bold */
/* font-weight:700; */

/* Black */
/* font-weight:900; */

/* --- COLOURS --- */

/* GRAY #999999 */
/* VERDE GRADIENTE #74cc52 */
/* AMARILLO GRADIENTE #c0da38 */
/* NARANJA BOTON #fa7344 */
/* NEGRO GRISACEO #474e48 */
/* VERDE BOTON #5FB038 */
/* ROSA GRADIENTE #ee3b51 */
/* NARANJA #fa7344 */

body {
    background-color: #fff;
    /* min-width: 378px; */
}
body p{
    font-family: 'Lato', sans-serif;
}

#grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(11, 1fr); */

    grid-template-areas: "header header"
                        "image image"
                        "order order"
                        "how how"
                        "dishes dishes"
                        "circles circles"
                        "restaurant restaurant"
                        "banner banner"
                        "featured featured"
                        "landing landing"
                        "footer footer"
}

header {
    grid-area: header;      
    height: 100px;
}
header .header-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
header .header-logo {
    width: 66%;
    padding-left:20px;
    line-height: 25px;
}
header .header-menu-chart {
    width: 33%;
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:20px;
}

header  .logo {
    height: 24px;
}

header .menu {
    padding-right: 10px;
    width: 2rem;
    filter: invert(50%);
}
header .chart {
    width: 1.9rem;
    filter: invert(50%);
}
header p{
    color: #999999;
    font-weight: 700;
    font-size: .9rem;
    font-family: 'Lato', sans-serif;
  
}
header a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.image {
    grid-area: image;
    height: 350px;
    width: 100%;
    background-color: #999999;
}
.order {
    grid-area: order;
    width: 100%;
    background: linear-gradient(0deg, rgba(116, 204, 82, 1) 0%, rgba(192, 218, 56, 1) 78%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
.order-h1 {
    padding: 20px 0 20px 30px;
    font-family: "Intro";
    font-weight: 900;
    font-size: 2.5rem;
    color: #fff;
    line-height: 3rem;
}
.order .form-wrap{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.order .pin {
    height: 20px;
    filter: invert(71%) sepia(77%) saturate(4346%) hue-rotate(333deg) brightness(102%) contrast(96%);
}
.order .bbq {
    height: 25px;
    filter: invert(71%) sepia(77%) saturate(4346%) hue-rotate(333deg) brightness(102%) contrast(96%);
}
.order input{
    border: solid 1px transparent;
}
.order input::placeholder {
    opacity: .9;
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}
.fields {
    width: 80%;
    margin-left: 20px;
}
.field1 {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 0.15rem #dcdbdb;
}
.field2 {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.findButton {
    height: 65px;
    width: 66%;
    border-radius: 5px;
    background-color: #fa7344;
    color: white;
    font-family: 'intro';
    font-weight: 700;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 50px;
}
.how-it-works {
    background-color: #fff;
    grid-area: how;
    display: flex;
    flex-direction: column;
    padding: 21px 22px 61px 21px;
    margin-top: 30px;

}
.how-h1 {
    font-family: "Intro";
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: #fa7344;
    padding-bottom: 90px;
}
.how-cards {
    display: flex;
    flex-direction: column;
    gap: 58px;
}
.how-card {
    display: flex;
    flex-direction: row;
    height: 150px;
    
}
.how-card-img img{
    height: 90px;
    padding-right: 30px;

}
.how-card-img-clip {
    position: relative;
    top: -10px;
}
.how-card-img-outline img{
    filter: drop-shadow(0.2rem 0 0 #f0ecea) drop-shadow(-0.2rem 0 0 #f0ecea) drop-shadow(0 0.1rem 0 #f0ecea) drop-shadow(0 -0.1rem 0 #f0ecea);
}
.how-card-article {
    padding-left: 2px;
}
.how-card-article-head {
    display: flex;
    align-items:baseline;
    height: 30px;
    padding-bottom: 10px;
}
.how-card-article-h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #474e48;
    
}
.how-card-article-h2-2 {
    font-family: "Intro";
    font-weight: 900;
    font-size: 1.5rem;
    color:#474e48;
    padding-left: 10px;
}
.how-card-article-p {
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    line-height: 1.5rem;
    /* text-align: justify; */
    word-break: break-all;

}

.dishes {
    background-color: #F5F5EB;
    grid-area: dishes;
}
.dishes-h1 {
    font-family: "Intro";
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    color: #fa7344;
    padding-top: 30px;
    padding-bottom: 30px;
}
.dishes-cards {
    margin: 20px;
}
.dishes-card {
    margin-bottom: 30px;
    
}
.dishes-card-img {
    width: 100%;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;
}
.dishes-card-article {
    background-color: #fff;
    padding-left: 20px;
}
.dishes-card-article-h2 {
    padding-top: 20px;
    color: #474e48;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1rem;

}
.dishes-card-article-p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .9rem;
}
.dishes-card-price-buy {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #fff;
}
.dishes-card-price {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #474e48;
    align-self: center;
}
.dishes-card-button {
    margin-left: 100px;
    border-radius: 5px;
    border-style: none;
    background-color: #5FB038;
    color: white;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: .9rem;
    padding: 8px 25px 8px 25px;
}
.dishes-card-stars-ratings {
    background-color: #fff;
    border-top: solid 3px #F5F5EB;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 50px;
    display: flex;
}
.dishes-card-stars {
    height: 80px;
    width: 150px;
    margin-left: 20px;
    background-size: 18px 18px;
    background-image: url('/images/star.svg'),
            url('/images/star.svg'),
            url('/images/star.svg'),
            url('/images/star.svg'),
            url('/images/star.svg');
        background-repeat: no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat;
        background-position: 0 15px,
            20px 15px,
            40px 15px,
            60px 15px,
            80px 15px;
}
.dishes-card-stars-4stars {
    height: 80px;
        width: 150px;
        margin-left: 20px;
        background-size: 18px 18px;
        background-image: url('/images/star.svg'),
            url('/images/star.svg'),
            url('/images/star.svg'),
            url('/images/star.svg'),
            url('/images/star_gris.svg');
        background-repeat: no-repeat,
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat;
        background-position: 0 15px,
            20px 15px,
            40px 15px,
            60px 15px,
            80px 15px;
            
}
.dishes-card-ratings {
    align-self: center;
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .9rem;
}
.dishes-card-ratings-arrow {
    align-self: center;
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .5rem;
    padding-left: 2px;
}
.circles {
    grid-area: circles;
    /* width: 100%; */
    background: rgb(238, 59, 81);
    background: linear-gradient(0deg, rgba(238, 59, 81, 1) 0%, rgba(250, 115, 68, 1) 78%);
}
.circles-cards {
    display: grid;
    grid-template-columns: 50vw 50vw;
    padding-top: 50px;
    /* padding-bottom: 50px; */
}
.circles-card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.circles-card-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.circles-card-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circles-card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circles-card-img {
    background-color: #fff;
    border-radius: 50%;
    height: 106px;
    width: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.circles-card-img img{
    height: 60px;
    filter: invert(60%) sepia(70%) saturate(580%) hue-rotate(354deg) brightness(98%) contrast(95%);
}
.circles-card-img-1 img {
    
}
.circles-card-img-2 img {
    position: relative;
    top: -7px;
}
.circles-card-img-3 img {
    height: 50px;
}
.circles-card-img-4 img {
    height: 50px;
}
.circles-card-h2 {
    color: #fff;
    font-family: "Intro";
    text-align: center;
    font-weight: 900;
    font-size: 1.6rem;
    margin-bottom: 22px;
    line-height: 1.8rem;
}
.circles-card-i {
    font-size: 1.7rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    position: relative;
    bottom: -2px;
    left: -5px;
}
.circles-card-p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
    padding-bottom: 40px;
}
.restaurant {
    padding-top: 40px;
    background-color: #F5F5EB;
    grid-area: restaurant;
}
.restaurant-h1 {
    font-family: "Intro";
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
    color: #fa7344;
    padding-top: 30px;
    padding-bottom: 30px;
}
.restaurant-cards {
    margin: 20px;
}
.restaurant-card {
    margin-bottom: 30px;

}
.restaurant-card-img {

    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.restaurant-card-article {
    background-color: #fff;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.restaurant-card-article-h2 {
    padding-top: 20px;
    color: #474e48;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}
.restaurant-card-article-p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .9rem;
}
.banner {
    grid-area: banner; 
    padding: 20px;
    background-color: #F5F5EB;
}
.banner-box {
    height: 290px;
    border-radius: 5px;
    background-color: #292931;
    display: flex;
    justify-content:center;
    align-items:center;
}
.banner-h1 {
    color: white;
    font-family: "Intro";
    text-align: center;
    font-weight: 900;
    font-size: 2.1rem;
    padding-top: 30px;
    padding-bottom: 30px;        
}
.featured {
    grid-area: featured;
    background-color: #F5F5EB;
    padding-top: 30px;
}

.featured-h1 {
    font-family: "Intro";
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: #fa7344;
    padding-top: 30px;
    padding-bottom: 30px;
}

.featured-cards {
    margin: 20px;
}

.featured-card {
    margin-bottom: 30px;

}

.featured-card-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.featured-card-box {
    position: relative;   
}
/* RIBBON START https: //codepen.io/nxworld/pen/oLdoWb*/
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {

}
.triangle-up{
    position: absolute;
    width: 0;
    height: 0;
    top: -5px;
    left: 76px;
    border-style: solid;
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #cc4b1f transparent;
}
.triangle-down{
    position: absolute;
    width: 0;
    height: 0;
    top: 76px;
    left: -5px;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    border-color: transparent #cc4b1f transparent transparent;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 7px 0;
    background-color: #fa7343;
    color: #fff;
    font: 700 14px/1 'Lato', sans-serif;
    text-align: center;
}

.ribbon-top-left {
    top: -5px;
    left: -5px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-top-left span {
    right: 3px;
    top: 18px;
    transform: rotate(-45deg);
}
/* RIBBON END */

.featured-card-article {
    background-color: #fff;
    padding-left: 20px;
}

.featured-card-article-h2 {
    padding-top: 20px;
    color: #474e48;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1rem;

}

.featured-card-article-p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .9rem;
}

.featured-card-price-buy {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
}

.featured-card-button {
    margin-left: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: #5FB038;
    color: white;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: .9rem;
    padding: 8px 25px 8px 25px;
}
.featured-card-button-2 {
    margin-left: 1px;
    border-radius: 5px;
    border-style: none;
    background-color: #5FB038;
    color: white;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: .9rem;
    padding: 8px 20px 8px 20px;
}

.featured-card-stars-ratings {
    background-color: #fff;
    border-top: solid 3px #F5F5EB;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 50px;
    display: flex;
}

.featured-card-stars {
    height: 80px;
    width: 150px;
    margin-left: 20px;
    background-size: 18px 18px;
    background-image: url('/images/star.svg'),
        url('/images/star.svg'),
        url('/images/star.svg'),
        url('/images/star.svg'),
        url('/images/star.svg');
    background-repeat: no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position: 0 15px,
        20px 15px,
        40px 15px,
        60px 15px,
        80px 15px;
}

.featured-card-stars-4stars {
    height: 80px;
    width: 150px;
    margin-left: 20px;
    background-size: 18px 18px;
    background-image: url('/images/star.svg'),
        url('/images/star.svg'),
        url('/images/star.svg'),
        url('/images/star.svg'),
        url('/images/star_gris.svg');
    background-repeat: no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position: 0 15px,
        20px 15px,
        40px 15px,
        60px 15px,
        80px 15px;

}

.featured-card-ratings {
    align-self: center;
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .9rem;
}

.featured-card-ratings-arrow {
    align-self: center;
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: .5rem;
    padding-left: 2px;
}

.landing-pages {
    grid-area: landing;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
}
.landing-pages-box{
    padding-bottom: 50px;
}
.landing-pages-h2 {
    padding-top: 20px;
    color: #3f3f3f;
    font-family: 'Intro';
    font-weight: 900;
    font-size: 1.2rem;
}
.landing-pages-ul {
    padding-top:30px;
}
.landing-pages-li {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;

}

footer {
    background-color: #10b035;
    grid-area: footer;
}

/* -- DESKTOP -- */
@media (min-width: 700px) {
    #grid-wrapper {
        /* grid-template-rows: repeat(10, 1fr); */
        grid-template-areas: "header header"
            "image order"
            "how how"
            "dishes dishes"
            "circles circles"
            "restaurant restaurant"
            "banner banner"
            "featured featured"
            "landing landing"
            "footer footer"
        }
}